@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Oswald&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    position: relative;
    padding-top: 5vh;
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://i.postimg.cc/nVjzcBMB/1832-Maa-Durga-Images-For-Navratri-Facebook-Whats-App-Status-1280x720.jpg);
    background-size: cover;
    flex-direction: row;
    justify-content: space-around;
}

.logo img{
    width: 150px;
}

.nav-menu ul{
    display: flex;
    flex-direction: row;
}

.nav-menu ul li{
    list-style: none;
}

.nav-links{
    padding: 20px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 0 35px;
    font-weight: 600;
    transition: all 1s;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.nav-links a:hover{
    border-bottom: 3px solid white;
}












/* -------Footer------- */

.footer{
    display: flex;
    width: 100%;
    position: sticky;
    flex-direction: column;
    background: linear-gradient(to right, #ff3401b3,rgba(255, 230, 2, 0.7));
}

.icons{
    margin: 10px auto;
    padding: 0 50px;
    display: flex;
}

.fab{
    margin: 20px 15px;
    font-size: 30px;
    transition: all 0.5s;
    color: rgba(252, 235, 235, 0.925);
}

.fab:hover{
    margin: 15px 15px;
    font-size: 40px;
}

h4{
    margin: auto;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

.fas{
    color: red;
    position: sticky;
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes beat {
    0%{font-size: 20px; padding: 0 3px;}
    50%{font-size: 26px; padding: 0px; margin-top: -2px; margin-bottom: 0%;}
    100%{font-size: 20px; padding: 0 3px;}
}




/* --------------Nine Forms----------------- */

.sub-header{
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.9)),url(https://i.postimg.cc/fRgNSWHp/1dbac1b3b9ecf5e5f0948e8defc7f4e2.jpg), #000;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container{
    width: 90%;
    padding: 0px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h1{
    font-size: 90px;
    font-family: 'Akronim', cursive;
    font-weight: 300;
    text-decoration: underline double black 3px;
    padding-top: 100px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}

.leftCol{
    flex-basis: 35%;
    
}

.leftCol img{
    border-radius: 1%;
    padding: 12px;
    width: 100%;
    box-shadow: 0 0 1px black;
}

.rightCol{
    margin-left: 90px;
    margin-right: 0%;
    flex-basis: 65%;
    font-size: 1.5em;
    border-radius: 2%;
    transform: translateX(-30);
    transition: 1s;
    padding: 50px;
    background: rgba(255, 255, 0, 0.5);
}

.rightCol:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.right .leftCol{
    order: 2;
}

.right .rightCol{
    order: 1;
    margin-right: 90px;
    margin-left: 0%;
    background: rgba(7, 206, 7, 0.5);
}

.left .grey{
    background: rgba(146, 143, 143, 0.5);
}

.right .orange{
    background: rgba(255, 169, 9, 0.5);
}

.left .white{
    background: rgba(223, 223, 165, 0.5);
}

.right .red{
    background: rgba(255, 0, 0, 0.5);
}

.left .royalblue{
    background: rgba(65, 105, 225, 0.5);
}

.right .pink{
    background: rgba(255, 75, 186, 0.5);
}

.left .purple{
    background: rgba(146, 11, 187, 0.5);
}














